/* DIVS */

.main-header {
    background: #f8e71c;
    height: 84px;
    min-height: 69px;
    min-width: 1000px;
    border-bottom: 5px solid #343436;
    box-shadow: 0 1px 1px black;
    position: relative;
    margin-bottom: 10px;
}

.whoissam {
    background: #f8e71c;
}

.twelve.columns{
    background: #f8e71c;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    transition-duration: 0.5s;
}

/* BUTTONS */

.navbutton{
  margin-top: 24px;
  float: right;
  border: 0px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  color: black;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
}
.navbutton:hover{
  color: white;
}

.superbutton {
    height:460px;
    width:100%;border-radius: 0px;
    border: 0px;
    background-color:#f8e71c;
    transition-duration: 0.5s;
    font-size: 80px;
    font-weight: 750;
    color: white;
    
}

.subbutton {
    height:460px;
    width:100%;border-radius: 0px;
    border: 0px;
    background-color:#f8e71c;
    transition-duration: 0.5s;
    font-size: 80px;
    font-weight: 750;
    text-outline: 2px 2px #000000;
    color: white;
    white-space: normal;
    line-height: normal;
}

/* IMAGES */

#logoimg{
  margin-top:25px;
  margin-left: 25px;
  max-width:40%;
  max-height:40%;
}
